body {
    background: red;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer {
    width: 80%;
    height: 80%;
    background: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    width: 80%;
    height: 80%;
    background: pink;
    position: relative;
}

.on-top {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: purple;
    position: relative;
    left: 100px;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: blue;
    position: absolute;
    z-index: 2;
}

.inner > div {
    margin: 5px;
}

.top {
    top: 0;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.bottom {
    bottom: 0;
}