body{
    margin: 0px;
}

header{
    width: 100%;
    height: 80px;
    background: blue;
    
}

header > div {
    max-width: 1000px;
    background: red;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 50px;
    height: 50px;
}

header ul {
    
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.content{
    width: 100%;
    background: green;
    height: 300px;
    
}

.content > div {
    max-width: 1000px;
    background: rgb(221, 112, 112);
    height: 100%;
    width: 100%;
    margin: 0 auto;
    border: 1px solid white;
}

.bg-shared {
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: 300px;
}

.bg-1 {
    background-image: url('./media/bg_image_1.jpg');
    
}
.bg-2 {
    background-image: url('./media/bg_image_2.jpg');
}
